{%extends 'base.html'%}
{%block header%}
<script
src="https://code.jquery.com/jquery-3.4.1.min.js">
</script>
<!-- <script>
    $.ajaxSetup({
      headers: { "X-CSRFToken": '{{csrf_token}}' }
    });
  </script> -->
{%endblock%}
{%block contents%}
<h1>HOME</h1>

{{request.user}}


<div class="row">
    <div class="col-12">
        {% comment %} {%if request.user == "AnonymousUser" %} {% endcomment %}
        <button class="btn btn-info"><a href="{% url 'login'%}">로그인 하러가기</a></button>
        <button class="btn btn-info"><a href="{% url 'register'%}">회원가입 하러가기</a></button>
        {% comment %} {%endif%} {% endcomment %}
        <button class="btn btn-info" id="logout">로그아웃</button>
        
    </div>
</div>


<script>
    $(document).ready(function(){
        $("#logout").click(function(){
            $.get('apis/v1/users/logout', {}, function(){
                location.reload();
            });
        });
    });
</script>



{%endblock%}