{%extends 'base.html'%}

{%block header%}
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous">
</script>
<script>
    $.ajaxSetup({
      headers: { "X-CSRFToken": '{{csrf_token}}' }
    });
  </script>
{%endblock%}


{%block contents%}
<h1>LOGIN</h1>


{{request.user}}

<input type="text" id="username">
<input type="text" id="password">
<button id="login">login</button>
<button id="logout">logout</button>



<script>
    $(document).ready(function(){
        $("#login").click(function(){
            $.post('apis/v1/users/login', {'username': $(username).val(), 'password': $(password).val()}, function(){
                location.reload();
            }).fail(function(data){
                // console.log(data);
            alert(data.message);

        });
    });
    });
</script>
<script>
    $(document).ready(function(){
        $("#logout").click(function(){
            $.get('apis/v1/users/logout', {}, function(){
                location.reload();
            });
        });
    });
</script>



{%endblock%}