{%extends 'base.html'%}
{%block header%}
<script
src="https://code.jquery.com/jquery-3.4.1.min.js">
</script>
{%endblock%}

{%block contents%}
<br>
<h1 class="text-info">LOGIN</h1>
<div class="row">
    <div class="col-md-6">
        <br>
        <div class="form-group">
            <label for="username">사용자명</label>
            <input type="text" id="username" class="form-control">
        <br>
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="text" id="password" class="form-control">
        </div>
        

        <button type="submit" id ="login" class="btn btn-info btn-sm">login</button>
    </div>
</div>


<script>
    $(document).ready(function(){
        $("#login").click(function(){
            $.post('apis/v1/users/login', {'username': $(username).val(), 'password': $(password).val()}, function(){
                location.reload();
            }).fail(function(data){
            alert(data.responseJSON.message);
        });
    });
    });
</script>

{%endblock%}